<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head >
    <meta charset="utf-8">
    <title>I am here</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
</head>
<body>
<!--______ start sidbar-->
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="index" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house text-warning"></i> <span class="ms-1 d-none d-md-inline text-warning">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-speedometer2 text-warning"></i> <span class="ms-1 d-none d-sm-inline text-warning">Dashboard</span> </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table text-warning"></i> <span class="ms-1 d-none d-sm-inline text-warning">Orders</span></a>
                    </li>
                    <li>
                        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                            <i class="fs-4 bi-bootstrap text-warning"></i> <span class="ms-1 d-none d-sm-inline text-warning">Bootstrap</span></a>
                    </li>
                    <li>
                        <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-grid text-warning"></i> <span class="ms-1 d-none d-sm-inline text-warning">Products</span> </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-people text-warning"></i> <span class="ms-1 d-none d-sm-inline text-warning">Customers</span> </a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">loser</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
<!--        *************       -->

        <div class="col py-3">
                <h1 class="text-center">All Products :</h1>
<!--                <div class="d-flex flex-wrap me-5">-->
<!--                    <div class="card" style="width: 18rem;" th:each="p:${AllProducts}">-->
<!--                        <img src="../static/images.jpg" class="card-img-top" alt="...">-->

<!--                         <div class="card-body">-->
<!--                             <h5 class="card-title fw-bold" th:text="${p.nom}"></h5>-->
<!--                             <p class="card-text" th:text="${p.descreption}"></p>-->
<!--                             <a href="#" class="btn btn-warning text-black-50">Ajouter</a>-->
<!--                         </div>-->
<!--                     </div>-->
<!--                  </div>-->

 <!--        *************       -->
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th>Reference</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Description</th>
                        <th>Quantity</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="p:${AllProducts}">
                        <td th:text="${p.ref}"></td>
                        <td th:text="${p.nom}"></td>
                        <td th:text="${p.Category}"></td>
                        <td th:text="${p.descreption}"></td>
                        <td th:text="${p.quantity}"></td>
                        <td>
                            <a th:href="@{delete/${p.id}}" class="btn btn-outline-danger">Delete</a>
                        </td>
<!--                        <td >-->
<!--                            <a onclick="javascript:return confirm('Etez vous sure?')" class="btn btn-outline-danger"-->
<!--                               th:href="@{deleteProduct(id=${p.id})}">Delete</a>-->
<!--                        </td>-->
    <!--                    <td >-->
    <!--                        <a  class="btn btn-primary"-->
    <!--                            th:href="@{deleteProduit(id=${p.id},page=${currentPage},size=${size},motCle=${motCle})}">Update</a>-->
    <!--                    </td>-->


                    </tr>
                </tbody>
            </table>
            <div class="container text-center">
                <a href="AddProductForm" class="btn btn-outline-secondary">
                    Add Product
                </a>

            </div>
<!-- ============== -->
        </div>
    </div>
</div>
<!--______ end sidbar-->

</body>
</html>
